<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <ul>
        <li th:each="order : ${orders}">
            <span th:text="'Order ID: ' + ${order.orderId}">Order ID</span><br>
            <span th:text="'Customer: ' + ${order.customer}">Customer</span><br>
            <span th:text="'Items: ' + ${order.items}">Items</span><br><br>
        </li>
    </ul>
</body>
</html>
